* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/* come back and change background color later to some type of white */
body {
    background-color: whitesmoke;
}

header {
    background-color: black;
}
header h1 {
    display: inline-block;
    font-size: 32px;
    padding: 15px 10px 0px 25px;
    margin: 10px 0 5px ;
    color: whitesmoke;
    background-color: blue;
}

header nav {
    padding-top: 15px;
    margin: 10px 20px 10px 0;
    float: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;   
}
/* header nav ul {
    list-style-type: none;
} */

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 3px solid blue;
    padding-bottom: 3px; 
}

header nav ul li a {
    color: whitesmoke;
    text-decoration: none;

}



@media screen and (max-width:992px) {
    .main-content-wrapper{

    }
    header {

    }
}

@media screen and (max-width:768px) {
    .main-content-wrapper{

    }
    header {
        
    }
}

/* test to make the class is set correctly on the work images
.flex-img {
    border: 5px solid red;

} */